<p>
  {{ 'Here are the activation links for your order :order_id'|t({':order_id': order_id}) }}
</p>
<ul>
  {% for url in urls %}
    <li>
      <strong>{{ url.title }}</strong>: <a href="{{ url.url }}">{{ url.url }}</a>
    </li>
  {% endfor %}
</ul>
